<div class="container mt-3">
  통합검색
  <form action="/main/haveroom">
    <input type="text" name="search">
    <input type="submit" value="제출">
  </form>

</div>

<div class="container">
  <% @user.each do |x| %>
    <a href="/chat/<%= x.id %>"><h3><%= x.id %> 한테 쪽지보내기 </h3></a>
  <% end %>
</div>