// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
box-sizing: border-box;
}

// .allbox{
//     display: flex;
    
// }

.top-box{
    display: flex;
    justify-content: center;
}
.box{
    margin: auto 2rem;
}


// 프로필  사진 관련 css
.card-img-top {
    width: 100%;
    margin: auto;
}

#image{
    width: 9.8rem;
}


.img{
    width: 30rem;
}
.input_image{
    display: flex;
    justify-content: space-between;
}
