<haed>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<link href="assets/mypage.scss" rel="stylesheet">
</haed>

<div class="container allbox mt-5">
  <!--여기가 프로필사진나오는 부분-->
  <div class="card" style="width: 23rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">유저이름이 나올꺼고 그 위에 사진은 유저 사진</h4>
      <p class="card-text">여기는 생각좀 해보고..밑에 프로필 사진 업로드 하는 버튼을 다른 곳에 넣을까? </p>
      <form action="/upload/create" method="POST" enctype="multipart/form-data">
        쇼트 텍스트입니다 : <input type="text" name="short_text">
        <input type="file" name="img_src" accept="image/*">
        <input type="submit" value="저장하기">
      </form>
    </div>
  </div>

  <!--그 옆에 박스-->
  <div class="container info ml-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">유형검사</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">뭘 넣을까</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">필요가 없을까?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">흐음</a>
        </li>
      </ul> 
    
      <div class="tab-content mt-4">
       
        
        <div class="tab-pane active" id="home" role="tabpanel">
            <div id='first'>
              <h1>유형 검사 하러 가시겠습니까?</h1>
              <button id='comments-link'>클릭</button>
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">뿡</div>
        <div class="tab-pane" id="messages" role="tabpanel">빵야</div>
        <div class="tab-pane" id="settings" role="tabpanel">삥</div>
      </div>
  </div>
</div>
<script>

>
    $(function () {
      $('#myTab a:last').tab('show');
      
     });
  
    $('#comments-link').on('click', function(e) {
        e.preventDefault();
        
      
        $('#first').remove();
        $('#home').load('test.html').hide().fadeIn('slow');
      });
    
    
</script>

