            <form action="/mypage/create" method="post" style="display: hidden">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="a" type="radio" class="custom-control-input" value='집순이'>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">나는 집순이다.</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="a" type="radio" class="custom-control-input" value='역마살이'>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">나는 싸돌아 다닌다.</span>
                </label>
              </div>
              <input type="submit" value="Submit">
            </form>  