<head>
  <link href="assets/login.scss" rel="stylesheet">
</head>

 

<div class="container">
<div class="contentwrap">
    <div class="ppage-header">
      <h2 class="col-sm-7">생활 패턴</h2><br><br>
      <hr class="linee">
    </div>
    
                      
    <form class="form-inline col-sm-8 col-sm-offset-2" action="/mypage/type_update" method="post">
       <div class="row">
    <input type="radio" name="fancy-radio" id="fancy-radio-1"/>
    <label for="fancy-radio-1">Radio</label>
    
    <input type="radio" name="fancy-radio" id="fancy-radio-2"/>
    <label for="fancy-radio-2">Radio</label>
    </div>
      <!--<div class="form_group">-->
      <!--    <label for="inlineFormCustomSelect" class="col-sm-9 control-label" style="text-align: left;">주로 공부하는 장소는 어디인가?</label>-->
      <!--    <label class="custom-control custom-radio">-->
      <!--      <input id="radioStacked1" name="a" type="radio" class="custom-control-input" value='집순이'>-->
      <!--      <span class="custom-control-indicator"></span>-->
      <!--      <span class="custom-control-description">방에서 한다.</span>-->
      <!--    </label>-->
      <!--     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
      <!--    <label class="custom-control custom-radio">-->
      <!--      <input id="radioStacked2" name="a" type="radio" class="custom-control-input" value='역마살이'>-->
      <!--      <span class="custom-control-indicator"></span>-->
      <!--      <span class="custom-control-description">밖에서 한다.(카페, 도서관 등)</span>-->
      <!--    </label>-->
      <!--</div>-->
      <button type="submit" class="btn btn-primary">제출</button>
    </form>
    
   
    
    
    
</div>
</div>
  

