<haed>

  <script>

  
  </script>


  <link href="assets/mypage.scss" rel="stylesheet">
</haed>

<div class="container allbox mt-5">

                <form class="form-inline" action="/mypage/type_update" method="post">
                      <div class="custom-controls-stacked">
                        <span>질문 1</span>
                        <label class="custom-control custom-radio">
                          <input id="radioStacked1" name="a" type="radio" class="custom-control-input" value='집순이'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">나는 집순이다.</span>
                        </label>
                        <label class="custom-control custom-radio">
                          <input id="radioStacked2" name="a" type="radio" class="custom-control-input" value='역마살이'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">나는 싸돌아 다닌다.</span>
                        </label>
                      </div>
                      
                      <br>
                      <button type="submit" class="btn btn-primary">Submit</button>
                 </form>
                
             
        
  </div>

<script>
    // /*$(function () {
    //   $('#myTab a:last').tab('show');
      
    // });
  
    // $('#comments-link').on('click', function(e) {
    //     e.preventDefault();
        
      
    //     $('#first').remove();
    //     $('#haveroom').load('test.html').hide().fadeIn('slow');
    //   });*/

</script>