<head>
  <link href="assets/login.scss" rel="stylesheet">
</head>

 

<div class="container">
<div class="contentwrap">
    <div class="ppage-header">
      <h2 class="col-sm-7">유형 검사 1단계</h2><br><br>
      <hr class="linee">
    </div>
    
                      
    <form class="form-inline col-sm-8 col-sm-offset-2" action="/mypage/create" method="post">
         <div class="custom-controls-stacked">
            <span>질문 1</span>
            <label class="custom-control custom-radio">
              <input id="radioStacked1" name="a" type="radio" class="custom-control-input" value='집순이'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">나는 집순이다.</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radioStacked2" name="a" type="radio" class="custom-control-input" value='역마살이'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">나는 싸돌아 다닌다.</span>
            </label>
         </div>
        <button type="submit" class="btn btn-primary">제출</button>
     </form>
    
    
</div>
</div>
  

